body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
  overflow-x: hidden;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 7.2vh;
  font-size: 1.8vh;
}

.list {
  margin: 0.5vw;
  float: right;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh 1.6vw;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: white;
}

nav.nav1 ul li a {
  position: relative;
  z-index: 1;
}

nav.nav1 ul li a:hover {
  color: white;
  text-decoration: none;
}

nav.nav1 ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #555;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.nav1 ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

nav{
  position: absolute;
  top: 0;
}

#heading{
  font-size: 6vh;
  text-align: center;
  margin-top: 10vh;
}


#dropdown-button{
  margin: 0.5vw;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh 1.6vw;
  text-decoration: none;
  background-color: black;
  border: none;
  font-size: 1.8vh;
}

#dropdown-menu{
  background-color: black;
  position: absolute;
  top: 6.8vh;
  font-size: 1.8vh;
}
#content, #notLoggedInContent{
  margin-top: 10vh;
}

#notLoggedInContent{
  text-align: center;
}

#dartboard{
  position: relative;
  top: 20vh;
  left: 20vw;
}
svg{
  height: 60vh;
  width: 60vw;
}

#single4{
  fill: #111;
}

.player{
  width: 20vw;
  height: 80vh;
  position: absolute;
  top: 10vh;
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
}
#player1{
  left: 2vw;
}
#player2{
  right: 2vw;
}

#score{
  width: 20vw;
  position: absolute;
  top: 10vh;
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
  left: 40vw;
}

#headerNotLoggedIn{
  font-size: 5vh;
  text-align: center;
  margin-top: 45vh;
}

#options p{
  display: inline;
}

.select{
  position: relative;
  border: 2px solid black;
  width: 20vw;
}
.select select{
  display: none;
}

.select-selected {
  background-color: white;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

.select-items div,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-items div{
  color: white;
}

.select-items {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#options{
  width: 20vw;
  position: absolute;
  left: 40vw;
  top: 25vh;
}

.option{
  margin-top: 2vh;
}

#submitButton, #cart{
  background-color: white;
  border: 2px black solid;
  color: black;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  width: 10vw;
  margin-left: 5vw;
}
#submitButton:hover{
  background-color: black;
  color: white;
}

.dart, .optionsDart{
  position: absolute;
  height: 80vh;
  background-color: white;
  border: 2px solid white;
  border-radius: 1%;
  width: 50vw;
  left: 35vw;
  top: 10vh;
  padding-top: 30vh;
}
.flight img, .shaft img, .barrel img, .point img{
  width: 10vw;
  position: absolute;
}
.flight {
  margin-left: 2vw;
}
.shaft{
  margin-left: 14vw;
  margin-top: 7vh;
}

.barrel{
  margin-left: 26vw;
}
.point{
  margin-left: 38vw;
}

.contentBox{
  background-color: #ebebeb;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

.dart h5{
  font-size: 7vh;
  position: absolute;
  right: 2vw;
  bottom: 2vh; 
}
#cart{
  background-color: green;
  color: white;
  border: none;
  border-radius: 10vw;
  position: absolute;
  right: 2vw;
  bottom: 10vh;
  width: 10vw;
}

.fa-shopping-cart{
  position: absolute;
  right: 2vw;
  font-size: 5vh;
  color: black;
}

.optionsDart{
  left: 2vw;
  width: 30vw;
  padding: 0.1%;
  padding-left: 2%;
}

.optionsDart h5{
  font-size: 4vh;

}

.optionsDart .select{
  margin-bottom: 2vh;
}
.dartZone{
  position: absolute;
  height: 6vh;
}

.optionsDart::after{
    content: "";
    clear: both;
    display: table;
}