body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
  background: linear-gradient(360deg, #000000 0%, #4D4D4D 20%, #999999 40%, rgb(223, 213, 213) 60%, white 75%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* #fullpage
{
    height: 100vh;
} */

section {
  height: 100vh;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 7.2vh;
  font-size: 1.8vh;
}

.list {
  margin: 0.5vw;
  float: right;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh 1.6vw;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: white;
}

nav.nav1 ul li a {
  position: relative;
  z-index: 1;
}

nav.nav1 ul li a:hover {
  color: white;
  text-decoration: none;
}

nav.nav1 ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #555;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.nav1 ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

nav{
  position: absolute;
  top: 0;
}

#slideshow {
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  top: 7.2vh;
  width: 100vw;
  height: 92.8vh;
}

#dart_icon {
  height: 25vh;
  width: 10vw;
  position: absolute;
  left: 45vw;
  bottom: 1vh;
  z-index: 10;
}

#dart_icon:hover {
  cursor: pointer;
}

.slide {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

.text {
  color: lightgray;
  font-size: 10vh;
  position: absolute;
  bottom: 65vh;
  width: 100%;
  text-align: center;
}

#left, #right {
  font-size: 5vh;
  position: absolute;
  bottom: 47.5vh;
}

#left:hover, #right:hover {
  cursor: pointer;
}

#right {
  right: 7vw;
}

#left {
  left: 7vw;
}

@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

.information {
  border: black 2px solid;
  width: 20vw;
  height: 10vh;
  /* position: relative; */
  margin-left: 40vw;
  text-align: center;
  font-size: 2vh;
}

/* 
.information:nth-child(1) {
  top: 103.4vh;
}

.information:nth-child(2) {
  top: 119.8vh;
}

.information:nth-child(3) {
  top: 136.4vh;
}

.information:nth-child(4) {
  top: 152.0vh;
}

.information:nth-child(5) {
  top: 169.6vh;
}

.information:nth-child(6) {
  top: 186.6vh;
} */

.heading {
  font-size: 10vh;
  text-align: center;
}

.placeHolder {
  border: black 2px solid;
  position: relative;
  width: 60vw;
  height: 60vh;
  left: 20vw;
  text-align: center;
}

#icon {
  color: white;
}

#informations {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.information:hover {
  cursor: pointer;
}

.icon_down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.icon_down .icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: visible;
}

.icon_down:hover .icon, .icon_down:focus .icon, .icon_down:active .icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  visibility: visible;
}

.icon {
  padding-top: 1vw;
  padding-left: 1vw;
  color: gainsboro;
}

@-webkit-keyframes hvr-icon-down {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: black;
  }
  25%, 75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    color: black;
  }
}

@keyframes hvr-icon-down {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: black;
  }
  25%, 75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    color: black;
  }
}

#dropdown-button{
  margin: 0.5vw;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh 1.6vw;
  text-decoration: none;
  background-color: black;
  border: none;
  font-size: 1.8vh;
}

#dropdown-menu{
  background-color: black;
  position: absolute;
  top: 7.2vh;
  font-size: 1.8vh;
}
#content{
  margin-top: 10vh;
}